# Auto-prepend for dev env
<IfModule mod_php.c>
    <If "-e '/var/www/html/includes/bootstrap.php'">
        php_value auto_prepend_file /var/www/html/includes/bootstrap.php
    </If>
    <If "-e '/home/u118-spmjb1vcffiy/www/inlet-fogger.willsabol.com/public_html/includes/bootstrap.php'">
            php_value auto_prepend_file /home/u118-spmjb1vcffiy/www/inlet-fogger.willsabol.com/public_html/includes/bootstrap.php
        </If>
</IfModule>
